

.navbar {
	background-color: $white;
	border-bottom: 1px solid $gray-300;
	height: 70px;
	
	.navbar-collapse {
		margin: 2px -1rem 0px !important;
		
		.navbar-nav {
			.nav-item {
				border-bottom: 1px solid $gray-200;
				padding: .3rem 1rem;
				transition:	$transition-base;

				&:hover {
					background: lighten($primary, 7.5%);
					
					.nav-link {
						color: $white !important;
					}
				}
			}

			&.navbar-sideNav {
				@include media-breakpoint-up(lg) {
					position: fixed;
					left: 0;
					top: 0px;
					flex-direction: column;
					background: $gray-100;
					border-right: 1px solid $gray-300;
					width: 250px;
					padding: 70px 0 0 0rem;
					bottom: 0;
					z-index: -1;
				}
			}

			&.navbar-rightNav {
				.nav-item {
					@include media-breakpoint-up(lg) {
						border-bottom: 0px;

						&:hover {
							

							background-color: transparent;
							.nav-link {
								transition:	$transition-base;
								color: $navbar-light-hover-color !important;
							}
						}
					}
					
				}
			}





		}
	}
}
a, 
.nav-link {
	transition:	$transition-base;
}
.btn-facebook {
  	background-color: #4267b2;
  	border-color: #4267b2;

}
.btn-facebook:hover {
	background-color: darken(#4267b2, 7%);
	border-color: darken(#4267b2, 7%);
}
  .btn-facebook::before {

    font-family: "Font Awesome 5 Brands";  content: "\f39e";
    margin-right: 1em;
  }

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

.border-gray-300 {
 	border-color: $gray-300 !important;
 }